<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809825397237-r48ri7l67s76fth00ak3p1rk13s2oq71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809825397237-r48ri7l67s76fth00ak3p1rk13s2oq71</string>
	<key>API_KEY</key>
	<string>AIzaSyCiblcB-aCkyPbfPhY4qDfRAMu9Pwyd14w</string>
	<key>GCM_SENDER_ID</key>
	<string>809825397237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>umd-nextbigthing.FoodDropApp</string>
	<key>PROJECT_ID</key>
	<string>food-drop-app-160a4</string>
	<key>STORAGE_BUCKET</key>
	<string>food-drop-app-160a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809825397237:ios:632acb8817561db4e4d8bc</string>
</dict>
</plist>